<app-matrix-rain></app-matrix-rain>
<div class="container-fluid screenOverLap">

    <!-- Personal Information -->
    <div class="p-sm-1 p-md-1 p-lg-2 p-xl-2">
        <div class="card glass-content text-center">
            <div class="card-body">
                <h3 class="card-title">Thengarai Maharajan Subbiah</h3>
                <h4 class="card-text">
                    {{'tmaharajan1999@gmail.com'}} |
                    +91 9585402236 |
                    <a href="{{externalLinks.linkedIn}}" target="_blank">LinkedIn</a> |
                    <a href="{{externalLinks.github}}" target="_blank">GitHub</a>
                </h4>
                <p class="card-text">
                    Front-End Developer with 2.7 years of experience building scalable, high-performance web apps using
                    Angular, JavaScript (ES6+), and TypeScript. Expert in crafting responsive, user-friendly interfaces
                    with Angular Material, Bootstrap, and SCSS. Skilled in RESTful API integration, performance
                    optimization, and Agile collaboration. Currently learning backend technologies (Node.js, MongoDB) to
                    become a Full-Stack Developer. Passionate about continuous learning and staying ahead in front-end
                    innovations.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Left Column: Experience & Education -->
        <div class="col-md-6 m-0 p-0">
            <div class="p-sm-1 p-md-1 p-lg-2 p-xl-2">
                <div class="card glass-content">
                    <div class="card-body">
                        <h4>Experience</h4>
                        <h5><strong>Programmer Analyst - Front-End Web Developer</strong></h5>
                        <h5><strong> <a href="https://www.changingconstants.io/">Changing Constants</a> (Sister
                                Organization of <a href="https://www.swiftant.com/">SwiftAnt</a> )</strong></h5>
                        <h5><strong>August 2022 - Present (2.9 Years)</strong></h5>
                        <p>Project : <strong> DMVIC </strong>: DIGITALLY MANAGED AND VERIFIABLE INSURANCE CERTIFICATE
                            SYSTEM</p>
                        <p>Client:
                            <a href="https://www.akinsure.com/">Association of Kenya Insurers (AKI)</a>
                            ,
                            <a href="https://www.insuranceassociationmw.com/">
                                Insurance Association Malawi (IAM)
                            </a>
                        </p>
                        <p>DMVIC is a comprehensive, country-wide insurance management system designed to streamline
                            end-to-end insurance operations. It enables efficient policy issuance, claims processing,
                            cancellations, financial management, user administration, and inventory tracking. Serving
                            agents, brokers, member companies, and government agencies, DMVIC supports multiple
                            insurance domains, including motor, life, professional indemnity, and marine insurance.
                            Additionally, the system enhances operational integrity by implementing robust validation
                            and compliance measures, ensuring greater transparency and efficiency across the industry
                        </p>
                        <ul>

                            <li>
                                Developed responsive and cross-browser-compatible web applications using Angular
                                framework,
                                enhancing user experience and performance. </li>

                            <li>
                                Collaborated closely with backend teams to integrate REST APIs, efficiently binding data
                                to frontend
                                interfaces. </li>

                            <li>
                                Single-handedly designed, developed, and maintained numerous Angular projects, including
                                end-to-end
                                project lifecycle management from conception to production deployment.</li>

                            <li>
                                Ensured adherence to clean, scalable, and maintainable coding practices, proactively
                                introducing efficiency
                                improvements and best practices. </li>

                            <li>
                                Deployed applications in UAT and DEV environments via Azure DevOps pipelines and
                                FileZilla, coordinated
                                with QA/testing teams to ensure bug-free releases. </li>

                            <li>
                                Incorporated user and QA feedback, achieving measurable improvements in usability and
                                performance
                                metrics. </li>

                            <li>
                                Successfully implemented reusable dynamic component architecture that renders forms,
                                tables, and
                                dashboards based on real-time API inputs. </li>

                            <li>
                                Integrated Azure Communication Services for real-time video conferencing and chat
                                functionalities within
                                applications. </li>

                            <li>
                                Implemented OpenAI-powered chatbot solutions leveraging Azure platforms, automating
                                responses to
                                frequently asked questions and enhancing customer interaction.</li>

                            <li>
                                Converted legacy AngularJS projects to Angular TypeScript, significantly enhancing
                                maintainability and
                                performance. </li>

                            <li>
                                Optimized application performance through lazy loading modules, significantly reducing
                                load times and
                                server overhead by minimizing redundant API calls.</li>

                            <li>
                                Contributed innovative ideas, proactively volunteered for feature development, and
                                implemented POCs
                                leading to standout product enhancements. </li>
                        </ul>
                        <h5><strong>Intern - Front-End Web Developer</strong></h5>
                        <h5>
                            <strong>
                                <a href="https://www.swiftant.com/">
                                    SwiftAnt IT Solutions
                                </a>
                            </strong>
                        </h5>
                        <h5>
                            APR 2022 - AUG 2022 (5 Months)
                        </h5>
                        <ul>
                            <li>
                                Built responsive, high-performance web applications using Angular and Bootstrap.
                            </li>
                            <li>
                                Contributed to large-scale projects by developing reusable components and implementing
                                modular architectures.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="p-sm-1 p-md-1 p-lg-2 p-xl-2">
                <div class="card glass-content">
                    <div class="card-body">
                        <h4>Education</h4>
                        <ul>
                            <li>
                                <div>
                                    <p>
                                        <strong>Bachelor of Engineering - Computer Science Engineering</strong>
                                    </p>
                                    <p>
                                        2017 - 2021
                                    </p>
                                    <p>
                                        <a href="https://www.jerusalemengg.ac.in/" target="_blank">Jerusalem College of
                                            Engineering</a> (Anna University), Chennai
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p>
                                        <strong>Higher Secondary Education (HSE)</strong>
                                    </p>
                                    <p>
                                        2016 - 2017
                                    </p>
                                    <p>
                                        Seventh Day Adventist Matriculation Higher Secondary School, Hosur
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Column: Skills, Projects, Certifications -->
        <div class="col-md-6 m-0 p-0">
            <div class="p-sm-1 p-md-1 p-lg-2 p-xl-2">
                <div class="card glass-content">
                    <div class="card-body">
                        <h4>Skills</h4>
                        <ul>
                            <li>
                                Programming Languages: JavaScript (ES6+), TypeScript
                            </li>
                            <li>
                                Front-End Development: HTML5, CSS3, SCSS, Bootstrap CSS, Tailwind CSS, jQuery, Angular, Angular Material, JSX, React,
                            </li>
                            <li>
                                Database : SQL, MongoDB
                            </li>
                            <li>
                                Backend : Express
                            </li>
                            <li>
                                Software Development Principles: Object-Oriented Programming (OOP),
                            </li>
                            <li>
                                Tools & Version Control: Node, Visual Studio Code (VSCode), Git, Sourcetree, Postman, SonarQube
                            </li>
                            <li>
                                Additional Skills: RESTful APIs, Agile Methodologies, Dynamic and Responsive Web Design
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="p-sm-1 p-md-1 p-lg-2 p-xl-2">
                <div class="card glass-content">
                    <div class="card-body">
                        <h4>Projects</h4>
                        <ul>
                            <li>
                                <div>
                                    <p>
                                        <a [routerLink]="['/chatbot']" target="_blank">
                                            <strong>Chatbot</strong>
                                        </a>
                                    </p>
                                    <p>
                                        This AI-powered chatbot leverages Google Gemini API to provide intelligent,
                                        real-time responses to user queries.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p>
                                        <a [routerLink]="['/resume-builder']" target="_blank">
                                            <strong>Resume Builder</strong>
                                        </a>
                                    </p>
                                    <p>
                                        Built with Angular, Bootstrap, jsPDF, allowing users to generate professional
                                        PDF resumes dynamically.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p>
                                        <a [routerLink]="['/dynamic-components/forms']" target="_blank">
                                            <strong>Dynamic Forms Generator</strong>
                                        </a>
                                    </p>
                                    <p>
                                        Utilizes Angular reactive forms to generate form fields dynamically from
                                        user-provided data.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p>
                                        <a [routerLink]="['/dynamic-components/tables']" target="_blank">
                                            <strong>Dynamic Tables</strong>
                                        </a>
                                    </p>
                                    <p>
                                        Utilizes Angular reactive forms to generate form fields dynamically from
                                        user-provided data.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p>
                                        <a [routerLink]="['/dynamic-components/dashboards']" target="_blank">
                                            <strong>Dynamic Dashboards</strong>
                                        </a>
                                    </p>
                                    <p>
                                        Utilizes Angular reactive forms to generate form fields dynamically from
                                        user-provided data.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p>
                                        <a [routerLink]="['/time-lines-tracker']" target="_blank">
                                            <strong>Timeline Tracker</strong>
                                        </a>
                                    </p>
                                    <p>
                                        Developed using Angular & ExcelJS to track events and generate Excel reports for
                                        better visualization.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p>
                                        <a href="https://thengaraimaharajandev.github.io/Image-Edge-Detection/"
                                            target="_blank">
                                            <strong>Image Detection & Manual Cropper</strong>
                                        </a>
                                    </p>
                                    <p>
                                        Document scanner using OpenCV and edge detection.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p>
                                        <a href="https://thengaraimaharajan.github.io/Calculators/"
                                            target="_blank">
                                            <strong>Financial Calculator</strong>
                                        </a>
                                    </p>
                                    <p>
                                        Simple Calculator using HTML, CSS, and JavaScript to compute investment growth and timelines.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="p-sm-1 p-md-1 p-lg-2 p-xl-2">
                <div class="card glass-content">
                    <div class="card-body">
                        <h4>Certifications</h4>
                        <ul>
                            <li>
                                <a href="https://www.freecodecamp.org/certification/Thengarai_Maharajan/responsive-web-design"
                                    target="_blank">Responsive Web Design - FreeCodeCamp (2024)</a>
                            </li>
                            <li>
                                <a href="https://www.freecodecamp.org/certification/Thengarai_Maharajan/javascript-algorithms-and-data-structures-v8"
                                    target="_blank">JavaScript Algorithms and Data Structures - FreeCodeCamp (2024)</a>
                            </li>
                            <li>
                                Business English Certificate Preliminary - Cambridge English (2018)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>