<div class="container-fluid">
    
    <!-- Personal Information -->
    <div class="p-3">
        <div class="card glass-content text-center">
            <div class="card-body">
                <h3 class="card-title">Thengarai Maharajan Subbiah</h3>
                <p class="card-text">
                    {{'tmaharajan1999@gmail.com'}} | 
                    +91 9585402236 |
                    <a href="https://www.linkedin.com/in/thengarai-maharajan/" target="_blank">LinkedIn</a> | 
                    <a href="https://github.com/ThengaraiMaharajan" target="_blank">GitHub</a>
                </p>
                <p class="card-text">
                    Passionate Front-End Developer with 2.5 years of experience in designing and developing scalable web applications using Angular, 
                    JavaScript, and TypeScript. Adept at creating responsive user interfaces with Bootstrap and Angular Material, 
                    integrating RESTful APIs, and improving application performance.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Left Column: Experience & Education -->
        <div class="col-md-6">
            <div class="p-3">
                <div class="card glass-content">
                    <div class="card-body">
                        <h4>Experience</h4>
                        <p><strong>Programmer Analyst - Front-End Web Developer</strong></p>
                        <p><strong>Changing Constants</strong> | AUG 2022 - Present</p>
                        <ul>
                            <li>Designed and implemented 7+ dynamic web applications using Angular, Material, and Bootstrap.</li>
                            <li>Integrated REST APIs for dynamic and interactive user experiences.</li>
                            <li>Optimized API calls, improving performance and data retrieval time.</li>
                            <li>Enhanced user experience through feedback-driven improvements.</li>
                            <li>Managed deployments to UAT and production using Azure DevOps pipelines.</li>
                        </ul>
                        <p><strong>Intern - Front-End Web Developer</strong></p>
                        <p><strong>SwiftAnt IT Solutions</strong> | APR 2022 - AUG 2022</p>
                        <p>Developed high-performance web applications using Angular and Bootstrap.</p>
                    </div>
                </div>
            </div>

            <div class="p-3">
                <div class="card glass-content">
                    <div class="card-body">
                        <h4>Education</h4>
                        <p><strong>Bachelor of Engineering - Computer Science Engineering</strong></p>
                        <p>Jerusalem College of Engineering (Anna University), Chennai | 2017 - 2021</p>
                        <p><strong>Higher Secondary Education (HSE)</strong></p>
                        <p>Seventh Day Adventist Matriculation Higher Secondary School, Hosur | 2016 - 2017</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Column: Skills, Projects, Certifications -->
        <div class="col-md-6">
            <div class="p-3">
                <div class="card glass-content">
                    <div class="card-body">
                        <h4>Skills</h4>
                        <p><strong>Languages:</strong> JavaScript, TypeScript, Python (Basics)</p>
                        <p><strong>Front-End:</strong> Angular, Angular Material, Bootstrap, HTML5, CSS3, SCSS, jQuery (Basics)</p>
                        <p><strong>Tools:</strong> VSCode, Git, Sourcetree, Postman</p>
                    </div>
                    <div class="card-body">
                        <h4>Skills</h4>
                        <div class="row">
                            <div class="col-3" >
                                <img class="img-fluid" src="../../../../../assets/Logo/js.svg" alt="JavaScript">
                            </div>
                            <div class="col-3" >
                                <img class="img-fluid" src="../../../../../assets/Logo/ts.svg" alt="TypeScript">
                            </div>
                            <div class="col-3" >
                                <img class="img-fluid" src="../../../../../assets/Logo/python.svg" alt="Python">
                            </div>
                            <div class="col-3" >
                                <img class="img-fluid" src="../../../../../assets/Logo/angular.svg" alt="Angular">
                            </div>
                            <div class="col-3" >
                                <img class="img-fluid" src="../../../../../assets/Logo/html.svg" alt="HTML">
                            </div>
                            <div class="col-3" >
                                <img class="img-fluid" src="../../../../../assets/Logo/css.svg" alt="CSS">
                            </div>
                            <div class="col-3" >
                                <img class="img-fluid" src="../../../../../assets/Logo/sass.svg" alt="Sass">
                            </div>
                            <div class="col-3" >
                                <img class="img-fluid" src="../../../../../assets/Logo/bootstrap.svg" alt="Bootstrap">
                            </div>
                            <div class="col-3" >
                                <img class="img-fluid" src="../../../../../assets/Logo/jquery.svg" alt="Jquery">
                            </div>
                            <div class="col-3" >
                                <img class="img-fluid" src="../../../../../assets/Logo/visual-studio-code.svg" alt="Visual Studio Code">
                            </div>
                            <div class="col-3" >
                                <img class="img-fluid" src="../../../../../assets/Logo/Git.svg" alt="Git">
                            </div>
                            <div class="col-3" >
                                <img class="img-fluid" src="../../../../../assets/Logo/sourcetree.svg" alt="Sourcetree">
                            </div>
                            <div class="col-3" >
                                <img class="img-fluid" src="../../../../../assets/Logo/postman.svg" alt="Postman">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-3">
                <div class="card glass-content">
                    <div class="card-body">
                        <h4>Projects</h4>
                        <p><a [routerLink]="['/resume-builder']" target="_blank"><strong>Resume Builder</strong></a> - Built with Angular, Bootstrap, jsPDF for PDF resume generation.</p>
                        <p><a [routerLink]="['/time-lines-tracker']" target="_blank"><strong>Dynamic Forms Generator</strong></a> - Uses Angular reactive forms for dynamic form fields.</p>
                        <p><a [routerLink]="['/dynamic-forms']" target="_blank"><strong>Timeline Tracker</strong></a> - Angular & ExcelJS project for event tracking and Excel report generation.</p>
                        <p><a href="https://thengaraimaharajandev.github.io/Image-Edge-Detection/" target="_blank"><strong>Image Detection & Manual Cropper</strong></a> - Document scanner using OpenCV and edge detection.</p>
                    </div>
                </div>
            </div>

            <div class="p-3">
                <div class="card glass-content">
                    <div class="card-body">
                        <h4>Certifications</h4>
                        <p><a href="https://www.freecodecamp.org/certification/Thengarai_Maharajan/responsive-web-design" target="_blank">Responsive Web Design - FreeCodeCamp (2024)</a></p>
                        <p><a href="https://www.freecodecamp.org/certification/Thengarai_Maharajan/javascript-algorithms-and-data-structures-v8" target="_blank">JavaScript Algorithms and Data Structures - FreeCodeCamp (2024)</a></p>
                        <p>Business English Certificate Preliminary - Cambridge English (2018)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
