<router-outlet></router-outlet>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-4 border d-flex justify-content-center align-items-center">
            <div class="m-5 p-5" >
                <button class="btn btn-primary btn-sm" routerLink="/dynamicForms" >Dynamic Forms</button>
            </div>
        </div>
        <div class="col-4 border d-flex justify-content-center align-items-center">
            <div class="m-5 p-5" >
                <button class="btn btn-primary btn-sm" routerLink="/resumeBuilder" >Resume Builder</button>
            </div>
        </div>
        <div class="col-4 border d-flex justify-content-center align-items-center">
            <div class="m-5 p-5" >
                <button class="btn btn-primary btn-sm" routerLink="/timeLines" >Time Line Tracker</button>
            </div>
        </div>
    </div>
</div>