<div class="container-fluid">
    <h3 class="text-center">Fill the form Fields</h3>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <!-- Left: Forms Section -->
      <div class="col-12 col-lg-6 p-3 border">
        <h3 class="text-center">
          Fill the details below, view the details on right side and click the download button to download the resume
        </h3>
        
        <!-- User Details Form -->
        <section class="container p-3 border mb-3">
          <form [formGroup]="userDetailsForm">
            <div class="row justify-content-center">
              <div class="col-8">
                <div class="mt-2">
                  <label for="name">Name</label>
                  <input type="text" formControlName="name" id="name" class="form-control" placeholder="Enter Your Name">
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-8">
                <div class="mt-2">
                  <label for="designation">Designation</label>
                  <input type="text" formControlName="designation" id="designation" class="form-control" placeholder="Enter Your Designation">
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3">
                <div class="mt-2">
                  <label for="phone">Phone</label>
                  <input type="tel" formControlName="phone" id="phone" class="form-control" placeholder="Enter Your Phone Number">
                </div>
              </div>
              <div class="col-3">
                <div class="mt-2">
                  <label for="mail">Email</label>
                  <input type="text" formControlName="mail" id="mail" class="form-control" placeholder="Enter Your E-mail Address">
                </div>
              </div>
              <div class="col-3">
                <div class="mt-2">
                  <label for="location">Location</label>
                  <input type="text" formControlName="location" id="location" class="form-control" placeholder="Enter Your Location">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="mt-2">
                  <label for="linkedIn">LinkedIn</label>
                  <input type="text" formControlName="linkedIn" id="linkedIn" class="form-control" placeholder="Enter Your LinkedIn Profile">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="mt-2">
                  <label for="jobDescription">Profile Summary</label>
                  <textarea formControlName="jobDescription" id="jobDescription" class="form-control" placeholder="Enter Your Profile Summary"></textarea>
                </div>
                <button type="button" class="btn btn-primary mt-2" (click)="generateProfileSummary()">Generate Summary</button>
              </div>
            </div>
            <button type="button" (click)="submitUserDetailsForm()" class="btn btn-primary btn-block mt-2">Submit to view preview</button>
          </form>
        </section>
        
        <!-- Experience Form -->
        <section class="container p-3 border mb-3">
          <h4>Your Experience</h4>
          <form [formGroup]="experienceForm">
            <div formArrayName="experiences">
              <div *ngFor="let experience of experiences.controls; let i = index" [formGroupName]="i">
                <div class="row">
                  <div class="col-8">
                    <div class="mt-2">
                      <label for="company">Company:</label>
                      <input type="text" id="company" formControlName="company" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="mt-2">
                      <label for="location">Location:</label>
                      <input type="text" id="location" formControlName="location" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="mt-2">
                      <label for="designation">Designation:</label>
                      <input type="text" id="designation" formControlName="designation" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="mt-2">
                      <label for="periodFrom">Period From:</label>
                      <input type="text" id="periodFrom" formControlName="periodFrom" class="form-control">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mt-2">
                      <label for="periodTo">Period To:</label>
                      <input type="text" id="periodTo" formControlName="periodTo" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="mt-2">
                      <label for="rolesAndResponsibility">Roles and Responsibility:</label>
                      <textarea id="rolesAndResponsibility" formControlName="rolesAndResponsibility" class="form-control" placeholder="Enter roles and responsibilities"></textarea>
                    </div>
                    <button type="button" class="btn btn-secondary btn-block mt-2" (click)="generateExperienceRoles(i)">Generate Roles</button>
                  </div>
                </div>
                <button type="button" (click)="removeExperience(i)" class="btn btn-secondary btn-block mt-2">Remove</button>
              </div>
            </div>
            <button type="button" (click)="addExperience()" class="btn btn-primary btn-block mt-2">Add Experience</button>
            <button type="button" (click)="submitExperienceForm()" class="btn btn-primary btn-block mt-2">Submit</button>
          </form>
        </section>
        
        <!-- Education Form -->
        <section class="container p-3 border mb-3">
          <h4>Your Education</h4>
          <form [formGroup]="educationForm">
            <div formArrayName="education">
              <div *ngFor="let edu of education.controls; let i = index" [formGroupName]="i">
                <div class="row">
                  <div class="col-10">
                    <div class="mt-2">
                      <label for="level">Level:</label>
                      <input type="text" id="level" formControlName="level" class="form-control">
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="mt-2">
                      <label for="percentage">Percentage:</label>
                      <input type="text" id="percentage" formControlName="percentage" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="mt-2">
                      <label for="instuition">Institution:</label>
                      <input type="text" id="instuition" formControlName="instuition" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="mt-2">
                      <label for="location">Location:</label>
                      <input type="text" id="location" formControlName="location" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="mt-2">
                      <label for="periodFrom">Period From:</label>
                      <input type="text" id="periodFrom" formControlName="periodFrom" class="form-control">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mt-2">
                      <label for="periodTo">Period To:</label>
                      <input type="text" id="periodTo" formControlName="periodTo" class="form-control">
                    </div>
                  </div>
                </div>
                <button type="button" (click)="removeEducation(i)" class="btn btn-secondary btn-block mt-2">Remove</button>
              </div>
            </div>
            <button type="button" (click)="addEducation()" class="btn btn-primary btn-block mt-2">Add Education</button>
            <button type="button" (click)="submitEducationForm()" class="btn btn-primary btn-block mt-2">Submit</button>
          </form>
        </section>
        
        <!-- Certifications Form -->
        <section class="container p-3 border mb-3">
          <h4>Your Certifications</h4>
          <form [formGroup]="certificationForm">
            <div formArrayName="certifications">
              <div *ngFor="let cert of certifications.controls; let i = index" [formGroupName]="i">
                <div class="row">
                  <div class="col-10">
                    <div class="mt-2">
                      <label for="name">Certification Name:</label>
                      <input type="text" id="name" formControlName="name" class="form-control">
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="mt-2">
                      <label for="percentage">Percentage:</label>
                      <input type="text" id="percentage" formControlName="percentage" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="mt-2">
                      <label for="certificateNumber">Certificate Number:</label>
                      <input type="text" id="certificateNumber" formControlName="certificateNumber" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="mt-2">
                      <label for="periodFrom">Period From:</label>
                      <input type="text" id="periodFrom" formControlName="periodFrom" class="form-control">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mt-2">
                      <label for="periodTo">Period To:</label>
                      <input type="text" id="periodTo" formControlName="periodTo" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="mt-2">
                      <label for="instuition">Institution:</label>
                      <input type="text" id="instuition" formControlName="instuition" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="mt-2">
                      <label for="link">Link:</label>
                      <input type="text" id="link" formControlName="link" class="form-control">
                    </div>
                  </div>
                </div>
                <button type="button" (click)="removeCertification(i)" class="btn btn-secondary btn-block mt-2">Remove</button>
              </div>
            </div>
            <button type="button" (click)="addCertification()" class="btn btn-primary btn-block mt-2">Add Certification</button>
            <button type="button" (click)="submitCertificationForm()" class="btn btn-primary btn-block mt-2">Submit</button>
          </form>
        </section>
        
        <!-- Skills Form -->
        <section class="container p-3 border mb-3">
          <h4>Your Skills</h4>
          <form [formGroup]="skillForm">
            <div formArrayName="skills">
              <div *ngFor="let skill of skills.controls; let i = index" [formGroupName]="i">
                <div class="row">
                  <div class="col-6">
                    <div class="mt-2">
                      <label for="skillName">Skill Name:</label>
                      <input type="text" id="skillName" formControlName="skillName" class="form-control">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mt-2">
                      <label for="skillScore">Skill Score:</label>
                      <input type="text" id="skillScore" formControlName="skillScore" class="form-control">
                    </div>
                  </div>
                </div>
                <button type="button" (click)="removeSkill(i)" class="btn btn-secondary btn-block mt-2">Remove</button>
              </div>
            </div>
            <button type="button" (click)="addSkill()" class="btn btn-primary btn-block mt-2">Add Skill</button>
            <button type="button" (click)="submitSkillForm()" class="btn btn-primary btn-block mt-2">Submit</button>
          </form>
        </section>
        
        <!-- Projects Form -->
        <section class="container p-3 border mb-3">
          <h4>Your Projects</h4>
          <form [formGroup]="projectForm">
            <div formArrayName="projects">
              <div *ngFor="let project of projects.controls; let i = index" [formGroupName]="i">
                <div class="row">
                  <div class="col-8">
                    <div class="mt-2">
                      <label for="projectName">Project Name:</label>
                      <input type="text" id="projectName" formControlName="projectName" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="mt-2">
                      <label for="periodFrom">Period From:</label>
                      <input type="text" id="periodFrom" formControlName="periodFrom" class="form-control">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mt-2">
                      <label for="periodTo">Period To:</label>
                      <input type="text" id="periodTo" formControlName="periodTo" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="mt-2">
                      <label for="description">Project Description:</label>
                      <textarea id="description" formControlName="description" class="form-control" placeholder="Enter project description"></textarea>
                    </div>
                    <button type="button" class="btn btn-secondary btn-block mt-2" (click)="generateProjectDescription(i)">Generate Description</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="mt-2">
                      <label for="link">Project Link:</label>
                      <input type="text" id="link" formControlName="link" class="form-control">
                    </div>
                  </div>
                </div>
                <button type="button" (click)="removeProject(i)" class="btn btn-secondary btn-block mt-2">Remove</button>
              </div>
            </div>
            <button type="button" (click)="addProject()" class="btn btn-primary btn-block mt-2">Add Project</button>
            <button type="button" (click)="submitProjectForm()" class="btn btn-primary btn-block mt-2">Submit</button>
          </form>
        </section>
        
        <!-- Soft Skills Form -->
        <section class="container p-3 border mb-3">
          <h4>Your Soft Skills</h4>
          <form [formGroup]="softSkillForm">
            <div formArrayName="softSkills">
              <div *ngFor="let softSkill of softSkills.controls; let i = index" [formGroupName]="i">
                <div class="row">
                  <div class="col-6">
                    <div class="mt-2">
                      <label for="softSkillName">Soft Skill Name:</label>
                      <input type="text" id="softSkillName" formControlName="softSkillName" class="form-control">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mt-2">
                      <label for="softSkillScore">Soft Skill Score:</label>
                      <input type="text" id="softSkillScore" formControlName="softSkillScore" class="form-control">
                    </div>
                  </div>
                </div>
                <button type="button" (click)="removeSoftSkill(i)" class="btn btn-secondary btn-block mt-2">Remove</button>
              </div>
            </div>
            <button type="button" (click)="addSoftSkill()" class="btn btn-primary btn-block mt-2">Add Soft Skill</button>
            <button type="button" (click)="submitSoftSkillForm()" class="btn btn-primary btn-block mt-2">Submit</button>
          </form>
        </section>
        
        <!-- Languages Form -->
        <section class="container p-3 border mb-3">
          <h4>Known Languages</h4>
          <form [formGroup]="languageForm">
            <div formArrayName="languages">
              <div *ngFor="let language of languages.controls; let i = index" [formGroupName]="i">
                <div class="row">
                  <div class="col-12">
                    <div class="mt-2">
                      <label for="languageName">Language Name:</label>
                      <input type="text" id="languageName" formControlName="languageName" class="form-control">
                    </div>
                  </div>
                </div>
                <button type="button" (click)="removeLanguage(i)" class="btn btn-secondary btn-block mt-2">Remove</button>
              </div>
            </div>
            <button type="button" (click)="addLanguage()" class="btn btn-primary btn-block mt-2">Add Language</button>
            <button type="button" (click)="submitLanguageForm()" class="btn btn-primary btn-block mt-2">Submit</button>
          </form>
        </section>
        
        <!-- Interests Form -->
        <section class="container p-3 border mb-3">
          <h4>Area of Interests</h4>
          <form [formGroup]="interestForm">
            <div formArrayName="interests">
              <div *ngFor="let interest of interests.controls; let i = index" [formGroupName]="i">
                <div class="row">
                  <div class="col-12">
                    <div class="mt-2">
                      <label for="interestName">Interest Name:</label>
                      <input type="text" id="interestName" formControlName="interestName" class="form-control">
                    </div>
                  </div>
                </div>
                <button type="button" (click)="removeInterest(i)" class="btn btn-secondary btn-block mt-2">Remove</button>
              </div>
            </div>
            <button type="button" (click)="addInterest()" class="btn btn-primary btn-block mt-2">Add Interest</button>
            <button type="button" (click)="submitInterestForm()" class="btn btn-primary btn-block mt-2">Submit</button>
          </form>
        </section>
      </div>
      
      <!-- Right: Resume Preview -->
      <div #resumePrint class="col-12 col-lg-6 p-0 border">
        <div class="p-3 border">
          <div>
            <div class="row">
              <div class="col-8">
                <h2>{{ userDetailsForm.value.name }}</h2>
              </div>
              <div class="col-8">
                <h4>{{ userDetailsForm.value.designation }}</h4>
              </div>
            </div>
            <div class="d-flex">
              <div class="pr-3">{{ userDetailsForm.value.phone }}</div>
              <div class="pr-3">{{ userDetailsForm.value.mail }}</div>
              <div class="pr-3">{{ userDetailsForm.value.location }}</div>
            </div>
            <div>{{ userDetailsForm.value.linkedIn }}</div>
            <div>{{ userDetailsForm.value.jobDescription }}</div>
          </div>
          
          <div>
            <h3>Experience</h3>
            <hr>
            <div *ngFor="let exp of experienceForm.get('experiences')?.value">
              <div class="row">
                <div class="col-8">{{ exp.company }}</div>
              </div>
              <div class="row">
                <div class="col-6">{{ exp.location }}</div>
              </div>
              <div class="row">
                <div class="col-6">{{ exp.designation }}</div>
              </div>
              <div class="d-flex">
                <div>{{ exp.periodFrom }} - </div>
                <div>{{ exp.periodTo }}</div>
              </div>
              <div>{{ exp.rolesAndResponsibility }}</div>
            </div>
          </div>
          
          <div>
            <h3>Education</h3>
            <hr>
            <div *ngFor="let edu of educationForm.get('education')?.value">
              <div class="row">
                <div class="col-10">{{ edu.level }}</div>
                <div class="col-2">{{ edu.percentage }}</div>
              </div>
              <div class="row">
                <div class="col-12">{{ edu.instuition }}</div>
              </div>
              <div class="row">
                <div class="col-8">{{ edu.location }}</div>
              </div>
              <div class="d-flex">
                <div>{{ edu.periodFrom }} - </div>
                <div>{{ edu.periodTo }}</div>
              </div>
            </div>
          </div>
          
          <div>
            <h3>Certifications</h3>
            <hr>
            <div *ngFor="let cert of certificationForm.get('certifications')?.value">
              <div class="row">
                <div class="col-10">{{ cert.name }}</div>
                <div class="col-2">{{ cert.percentage }}</div>
              </div>
              <div class="row">
                <div class="col-12">{{ cert.certificateNumber }}</div>
              </div>
              <div class="d-flex">
                <div>{{ cert.periodFrom }} - </div>
                <div>{{ cert.periodTo }}</div>
              </div>
              <div class="row">
                <div class="col-12">{{ cert.instuition }}</div>
              </div>
              <div class="row">
                <div class="col-12">{{ cert.link }}</div>
              </div>
            </div>
          </div>
          
          <div>
            <h3>Skills</h3>
            <hr>
            <div *ngFor="let skill of skillForm.get('skills')?.value">
              <div class="row">
                <div class="col-6">{{ skill.skillName }}</div>
                <div class="col-6">{{ skill.skillScore }}</div>
              </div>
            </div>
          </div>
          
          <div>
            <h3>Soft Skills</h3>
            <hr>
            <div *ngFor="let softSkill of softSkillForm.get('softSkills')?.value">
              <div class="row">
                <div class="col-6">{{ softSkill.softSkillName }}</div>
                <div class="col-6">{{ softSkill.softSkillScore }}</div>
              </div>
            </div>
          </div>
          
          <div>
            <h3>Languages</h3>
            <hr>
            <div *ngFor="let language of languageForm.get('languages')?.value">
              <div class="d-flex">
                {{ language.languageName }}
              </div>
            </div>
          </div>
          
          <div>
            <h3>Interests</h3>
            <hr>
            <div *ngFor="let interest of interestForm.get('interests')?.value">
              <div class="d-flex">
                {{ interest.interestName }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <button class="m-1 btn btn-success" (click)="downloadAsPDF()">Download as PDF</button>
  