<nav class="tm-top-menu d-flex align-items-center px-4">
    <a routerLink="/home" routerLinkActive="active" class="tm-menu-item">Home</a>
    <a routerLink="/resume-builder" routerLinkActive="active" class="tm-menu-item">Resume Builder</a>
    <a routerLink="/time-lines-tracker" routerLinkActive="active" class="tm-menu-item">Timeline Tracker</a>
    <a routerLink="/dynamic-forms" routerLinkActive="active" class="tm-menu-item">Dynamic Forms</a>
    <a routerLink="/chatbot" routerLinkActive="active" class="tm-menu-item">Chatbot</a>
  </nav>
  