.animated-text-container {
  /* height: 100vh; */
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated-text {
  text-align: center;
}

.dud {
  color: grey;
}


.p-as-span{
  display: inline;
}