<app-matrix-rain></app-matrix-rain>

<app-glass-layer>
  <div class="mt-100px d-flex justify-content-center align-items-center">
    <div>
      <div class="animated-text-container">
        <div class="glass-content text-center">
          <div class="animated-text">
            <p *ngFor="let line of displayLines" class="animated-line">{{ line }}</p>
          </div>
        </div>
      </div>

      <br />

      <div class="animated-text-container" *ngIf="animationComplete">
        <div class="glass-content text-center">
          <p>I Design, Develop, Maintain, Build and Deploy Enterprise Level Web Applications</p>
        </div>
      </div>
    </div>
  </div>
</app-glass-layer>
