canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

/* Glass Layer Wrapper */
.glass-layer-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px) brightness(1);
  background-color: rgba(255, 255, 255, 0.05);
  transition: opacity 0.5s ease;
  animation: fadeIn 1s ease;
}